.modalContent {
	background-color: var(--modal-background, #373737cc) !important;
	box-shadow: inset 8px 8px 8px var(--neutral-shadow1, #00000013),
		0 0 8px var(--neutral-shadow2, #c8c8c899);
	user-select: none;
}

.options {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.controlsTitle {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-right: 32px;
}

.controls {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 8px;
}

.showExtendedButtons {
	margin-top: 8px !important;
	margin-bottom: 8px !important;
	margin-left: 32px !important;
}
